<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/signup.css" type="text/css">

</head>

<body>
    <div class="container">
        <div class="signup-form">
            <h3>Create your account:</h3>
            <form action="/signup" method="post">
                <input type="email" name="email" id="email" placeholder="Enter your email Id">
                <label for="preferences">Choose your areas of preferences:</label>

                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" name="preferences" value="sports"> Sports
                    </label>
                    <label>
                        <input type="checkbox" name="preferences" value="entertainment"> Entertainment
                    </label>
                    <label>
                        <input type="checkbox" name="preferences" value="technology"> Technology
                    </label>
                    <label>
                        <input type="checkbox" name="preferences" value="business"> Business
                    </label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">

            </form>
        </div>
    </div>
</body>

</html>